body {
  margin: 0;
  padding: 0;
  background-color: #43a19e;
  font-family: "Ubuntu", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: azure;
}

.Wrapper > h2 {
  font-size: 40px;
}
